/* Reset + global base setup */
@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

* {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    height: 100%;
}

a {
    text-decoration: none;
}

button:focus-visible {
    outline: 2px solid #4a90e2 !important;
    outline: -webkit-focus-ring-color auto 5px !important;
}

/* ------- UI COMPONENT STYLES ------- */

/* Background */
.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

/* Main Logo */
.removebg {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 350px;
    z-index: 2;
}

/* Start Button */
.png-clipart-push {
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    cursor: pointer;
    z-index: 3;
}

/* Small Icon Logo */
.logo-removebg {
    position: absolute;
    top: 5%;
    right: 5%;
    width: 100px;
    z-index: 4;
}
