*{
    margin: 0px;
    box-sizing: border-box;
}
.background{
    background-image: url("./img/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}
.game-logo-box{
    width: 100%;
    height: 55vh;
    display: flex;
    justify-content: center;
}
.game-logo{
    width: 40%;
    height: 100%;
    background-image: url("./img/COB.png");
    background-size: 400px;
    background-repeat: no-repeat;
    background-position: center;
}
.game-enter-box{
    width: 100%;
    height: 35vh;
    display: flex;
    justify-content: center;
}
.game-enter{
    width: 100%;
    height: 30vh;
    background-image: url("./img/start.png");
    background-size: 327px;
    background-repeat: no-repeat;
    background-position: center;
}
.game-enter-box a{
    width: 40%;
    height: 30vh;
}
.game-enter:hover{
    /* background-size: 400px; */
    transition: 1s;
    transform: translateY(20px);
}
/* Full screen popup overlay */
.popup-overlay {
    position: fixed;
    inset: 0;
    background: url('./kicking gif.gif') no-repeat center center;
    background-size: contain; /* or cover depending on your image */
    transform: scale(0);
    z-index: 9999;
    opacity: 0;
    transition: transform 0.8s ease, opacity 0.8s ease;
}

/* When popup is active */
.popup-overlay.show {
    transform: scale(1);
    opacity: 1;
}

/* Start button effect */
.game-enter {
    cursor: pointer;
    transition: transform 0.2s ease;
}

.game-enter:hover {
    transform: scale(1.05);
}

.game-enter:active {
    transform: scale(0.95);
}
