*{
    margin: 0px;
    box-sizing: border-box;
}

.background{
    background-image: url(./img/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
   
}

.team-container{
    width: 100%;
    height: 11vh;
    display: flex;
    justify-content: space-between;
    
   
}
.team-1-box ,.team-2-box{
    width: 5%;
    height: 8vh;
    display: flex;
 
}

.team-1,.team-2{
    width: 100%;
    height: 98%;
    background-size: 64px;
    background-repeat: no-repeat;
}

 .team-1{
    background-image: url(./img/team-1.png);
    background-position: left;

}

.team-2{
     background-image: url(./img/team-2.png);
     background-position: right;
   }

.score-board{
    width: 15%;
    height: 10vh;
    display: flex;
    justify-content: center;   
    align-items: center;   
}

.score{
    width: 100%;
    height: 139%;
    background-image: url(./img/score.png);
    background-size: 166px;
    background-position: center;
    background-repeat: no-repeat;

}

.futsal-box{
    width: 100%;
    height: 89vh;
    display: flex;
    justify-content: center;  
   
  
}

.futsal{
    width: 71%;
    height: 89vh;
    background-image: url(./img/ground.png);
    background-repeat: no-repeat;
    background-size: 868px;
    background-position: center;
   
}

    