.image {
    width: 1621px;
    height: 1037px;
}

.image .img {
    position: fixed;
    top: 7px;
    left: 90px;
    width: 1440px;
    height: 1024px;
    aspect-ratio: 1.56;
    object-fit: cover;
}

/*logo*/
.image {
    width: 549px;
    height: 549px;
}

.image .removebg {
    position: fixed;
    top: 0;
    left: 0;
    width: 549px;
    height: 549px;
    aspect-ratio: 1;
    object-fit: cover;
}


/*start*/
.image {
    width: 436px;
    height: 201px;
}

.image .png-clipart-push {
    position: fixed;
    top: 0;
    left: 0;
    width: 436px;
    height: 201px;
    aspect-ratio: 2.17;
    object-fit: cover;
}

/*small icon logo*/
.image {
    width: 200px;
    height: 164px;
}

.image .logo-removebg {
    position: fixed;
    top: 40px;
    left: 0;
    width: 162px;
    height: 124px;
    aspect-ratio: 1.23;
    object-fit: cover;
}

