*{
    margin: 0px;
    box-sizing: border-box;
}

.background{
    background-image: url(./img/background.png);
    opacity: 0.30;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

.team-1-box{
    width : 20%;
    height : 20vh;
    display: flex;
    background-color: red;
    justify-content: right;

}
    