.image {
    width: 1621px;
    height: 1037px;
}

.image .img {
    position: fixed;
    top: 7px;
    left: 90px;
    width: 1440px;
    height: 1024px;
    aspect-ratio: 1.56;
    object-fit: cover;
}

.image {
    width: 549px;
    height: 549px;
}

.image .removebg {
    position: fixed;
    top: 0;
    left: 0;
    width: 549px;
    height: 549px;
    aspect-ratio: 1;
    object-fit: cover;
}
